<html>
<body>

<form action="/weather/location">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name" placeholder="name"><br>
  <input type="submit" value="Submit">
</form> 

</body></html>